
@charset "UTF-8";


#main {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 160px 100px 100px 100px 100px 100px;
    line-height: 100px;
    text-align: center;

}
#botao-C{
    
    font-size: 40px;
    background-color: grey;
    font-family: 'Bungee Spice', cursive;
    font-family: 'Indie Flower', cursive; 
}
.botao-operador {
    font-size: 40px;
    background-color: rgb(255, 170, 91);
    font-family: 'Bungee Spice', cursive;
    font-family: 'Indie Flower', cursive;

}

.botao-numero{
    font-size: 40px;
    background-color: grey;
    font-family: 'Bungee Spice', cursive;
    font-family: 'Indie Flower', cursive;

}
#visor{
    grid-column: 1/5;
    background-color: rgb(52, 45, 45);
    color: white;
    border: 4px black solid;
    border-radius: 50px 50px 0px 0px;
    font-size: 65px;
    font-family: 'Bungee Spice', cursive;
    font-family: 'Indie Flower', cursive;

}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    align-items: center;

}

#botao-igual {
    grid-row: 3 / 7;
    grid-column: 4;
    border-radius: 0px 0px 50px 0px;
    font-size: 90px;
    background-color: grey;
    font-family: 'Bungee Spice', cursive;
    font-family: 'Indie Flower', cursive;
}



.botao {
    transition: 0.5s;
    border: 2px solid black ;
}

button:hover,
#botao-igual:hover {
    background-color: rgb(0, 0, 0);
    color: white;

}

.cor_Nova {
    background-color: grey;
}